<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>John</string>
		<key>last</key>
		<string>Clem</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Brad</string>
		<key>last</key>
		<string>Johnson</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Victor</string>
		<key>last</key>
		<string>Adu</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>linkedin.png</string>
		<key>first</key>
		<string>Kirby</string>
		<key>last</key>
		<string>Shabaga</string>
        <key>twitter</key>
        <string>@kirbyshabaga</string>
        <key>github</key>
        <string>https://github.com/kirby</string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Collin</string>
		<key>last</key>
		<string>Atherton</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Jeff</string>
		<key>last</key>
		<string>Gayle</string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Dan</string>
		<key>last</key>
		<string>Hoang</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Mike</string>
		<key>last</key>
		<string>Tirenin</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Alex</string>
		<key>last</key>
		<string>Rice</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
	<dict>
        <key>image</key>
        <string>silhouette.jpeg</string>
		<key>first</key>
		<string>Leonardo</string>
		<key>last</key>
		<string>Lee</string>
        <key>twitter</key>
        <string></string>
        <key>github</key>
        <string></string>
	</dict>
</array>
</plist>
